.bar {
    background: var(--gradient-gold);
    color: var(--color-secondary-deep);
    background-size: 200% auto;
    animation: shimmer 5s infinite linear;
    height: var(--announcement-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}

@keyframes shimmer {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}